p a {

    text-decoration: underline;

}

p a:hover {

    text-decoration: none;

}

.card-body p {

    margin-bottom: 0.5rem;

}

.bg-danger, .btn-danger, .badge-danger {

    background-color: #D62A2A!important;

}

.bg-secondary {

    background-color: #524C47 !important;

}

.bg-success, .btn-success, .badge-success {

    background-color: #26A20A !important;

}

.bg-info, .btn-info, .badge-info {

    background-color: #0A86b2 !important;

}

/* margin-top-custom-8rem */
.mtc-8 {

    margin-top: 8rem;

}

@media (min-width: 992px) {
    .mtc-lg-8 {

        margin-top: 8rem;

    }
}

@media (min-width: 992px) {
    /* margin-bottom-custom-8rem */
    .mbc-lg-8 {

        margin-bottom: 8rem;

    }
}

/* margin-left-custom-7rem */
.mlc-7 {

    margin-left: 7rem;

}

/* margin-top-custom-15rem */
.mtc-15 {

    margin-top: 15rem;

}

/* margin-bottom-custom-15rem */
.mbc-15 {

    margin-bottom: 15rem;

}

.w-33 {

    width: 33%;

}
